/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

body {
  
}

.login-screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.login-screen-container {
  @include border-radius(10px, 10px);
  @include box-shadow(#000 0 0 20px);
  width: 300px;
  height: 300px;
  background-color: #ddd;
  position: absolute;
  margin-top: -150px;
  margin-left: -150px;
  top: 50%;
  left: 50%;
  border: 10px solid #fff;
  .login-input-row {
    margin: 10px 20px;
    width: 260px;
  }
}