/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/images";

$highlight  : #d6f1ff;

body {}

.bggrad {
  @include background-image(radial-gradient(#666, #333 70%));
  background-color: #999;
}

.login-screen {
  .user-login-screen-container {
    width: 166px;
    height: 300px;
    margin-top: -150px;
    margin-left: -83px;
    top: 50%;
    left: 50%;
    position: absolute;
    .user-login-block {
      .user-login-block-row { 
      }
    }
  } 
}

.available-sessions-container {
  .session-selection-row {
    margin-bottom: 1px;
    &.header {
      padding: 15px 5px;
    }
    &.table-row {
      font-size: 14px;
      background-color: #fff;
      &:hover {
        background-color: $highlight;
      }
      &:active {
        background-color: #fff;
      }
      div {
        padding: 15px 5px;
        overflow-x: hidden;
      }
    }
    .session-row-username {
      width: 100px;
    }
    .session-row-organization {
      width: 120px;
    }
    .session-row-created {
      width: 120px;
    }
    .session-row-sid {
      width: 300px;
    }
  }
}

.dashboard {
  .dashboard-icons-container {
    width: 100%;
    height: 113px;
    position: absolute;
    top: 50%;
    margin-top: -56px;
    .dashboard-icons {
      text-align: center;
      .dashboard-icon-column {
        text-align: center;
        min-width: 200px;
        display: inline-block;
        cursor: pointer;
        .dashboard-icon-image {
        }
        .dashboard-icon-label {
          color: #fff;
          font-weight: bold;
        }
      }
    }
  }
}


.developer-ui-container {
  @include box-shadow(#333 4px 4px 10px -4px);
  @include border-corner-radius(bottom, right, 10px);
  top: 100px;
  left: 0;
  position: absolute;
  
  background-color: #d8d8d8;
  z-index: 10;
  .developer-rows {
    .row {
      display: block;
      margin: 10px;
    }
  }
  .onyx-grabber {
    &.developer-grabber {
      @include box-shadow(#333 4px 4px 10px -4px);
      @include border-corner-radius(top, right, 10px);
      @include border-corner-radius(bottom, right, 10px);
      background-color: #d8d8d8;
      position: absolute;
      right: -47px;
      top: 0;
      height: 54px;
      width: 50px;
    }
  }
}





.module-left-panel-container {
  background-color: #333;
  color: #fff;
  width: 320px;
}

.module-right-panel-container {
  @include box-shadow(#000 -4px 0 10px -4px);
  background-color: #555;
  color: #fff;
}

.crm-menu-item {
  padding: 10px;
  margin: 10px 0;
  text-align: center;
  background-color: #fff;
  color: #000;
  &.selected {
    background-color: #eee;
  }
  &:hover {
    background-color: #eee;
  }
}

.xt-info-list-row {
  background-color: #fff;
  padding-top: 3px;
  padding-bottom: 3px;
  border-bottom: 1px solid #ddd;
  &:hover {
    background-color: $highlight;
    cursor: pointer;
  }
  .xt-info-list-row-column {
    width: 320px;
    min-width: 320px;
    max-width: 320px;
    .xt-info-list-row-column-cell {
      padding: 5px;
      font-size: 11px;
    }
  }
}


.project-due-date {
  text-align: right;
}
.project-number {
  font-weight: bold;
}





.xt-sub-module-content {
  @include box-shadow(#000 -4px 0 10px -4px);
}

.xt-module-screen {
  .xt-module-menu {
    width: 320px !important;
    background-color: #fff;
    .xt-module-menu-item {
      padding: 15px;
      vertical-align: middle;
      border-bottom: 1px solid #ddd;
      &:hover {
        background-color: $highlight;
        cursor: pointer;
      }
      &:active {
        background-color: #fff;
      }
      &.selected {
        background-color: $highlight;
      }
    }
  }
}