{{#bind "content"}}
<div class="row" {{bindAttr skid="storeKey"}}>
  
  <!-- BEGIN COLUMNS -->
  
  <div class="column">
    {{contactName}}
    {{crmAccountName}}
    {{contactJobTitle}}
  </div>
  
  <!-- END COLUMNS   -->
  
</div>
{{/bind}}