*.DS_Store
*.swp
*.swo
*~
*.deb
node_modules
npm-debug.log
scripts/private
scripts/lib/temp_query*
scripts/1
scripts/lib/build
scripts/lib/deploy
scripts/lib/package.js
test/mocha/lib/demo-test.backup
test/shared/login_data.js
