*.DS_Store
*.sw*
*~
*.backup
*.deb
node_modules
npm-debug.log
scripts/private
scripts/lib/temp_query*
scripts/output
scripts/1
scripts/lib/build
scripts/lib/deploy
scripts/lib/package.js
test/lib/demo-test.backup
test/lib/login_data.js*
test/mocha/lib/demo-test.backup
install.log
enyo-client/application/lib
enyo-client/application/build
enyo-client/application/deploy
lib/module
