# Set default behavior
* text=auto

# Declare files that will always have LF line endings on checkout
*.php text eol=lf
*.css text eol=lf
*.js text eol=lf
*.less text eol=lf
*.html text eol=lf
*.sql text eol=lf
*.txt text eol=lf
*.js text eol=lf
*.c text eol=lf
*.sh text eol=lf
*.md text eol=lf
*.json text eol=lf
*.cpp text eol=lf
*.yml text eol=lf

# Do not treat these as text
*.jpg binary
*.data binary
*.png binary
*.ttf binary
*.otf binary
*.eot binary
*.gif binary
*.gz binary
*.ico binary
*.phar binary