/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/box-sizing";
@import "compass/css3/border-radius";

.orm-app {
  .orm-controls {
    padding: 5px;
    width: 200px;
    .onyx-button {
      width: 100%;
      margin-top: 5px;
    }
    .onyx-groupbox {
      margin-bottom: 5px;
    }
  }
}

.orm-app {
  .orm-list {
    @include box-sizing(border-box);
    padding: 5px;
    .onyx-groupbox {
      margin-bottom: 5px;
      .display-text {
        font-size: 11px;
        padding: 4px;
      }
    }
    .onyx-groupbox-header {
      &.disabled {
        background-color: #ff0000;
      }
    }
  }
  .orm-console {
    @include box-sizing(border-box);
    @include border-radius(5px);
    margin: 5px;
    padding: 5px;
    background-color: #222;
    color: #999;
    height: 200px;
    .console-list-item {
      font-size: 12px;
      padding: 2px;
      .console-list-item-prefix {
        margin-right: 5px;
        color: #ffa500;
        font-weight: bold;
      }
    }
  }
}