
@import "compass";

$theme.xt-table {
  margin: 20px 20px;

  .container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }

  .no-content {
    padding: 20px 20px;
  }
  
  .row {
    &, * { outline: 0 }
    padding: 5px;
    margin: 1px 0;
    background-color: #fff;
    .sub {
      &.selected { 
        background-color: #99ccff; 
        color: #fff;
        font-weight: bold;
      }
      height: 65px;
      overflow: hidden;
      .column {
        float: left;
        .field {
          height: 15px;
          display: block;
          padding: 2px;
          overflow: hidden;
        }
      }
    }
  }
}
