/** Table */

.xt-common { margin: 0; padding: 0; border: none; }

.ace.sc-view.xt-table-view-container { }

.xt-wrapper { position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; overflow: hidden; }
.xt-table { width: 100%; height: 100%; background-color: #fff; }
.xt-body-container { position: absolute; top: 0; left: 0; right: 0; width: 100%; z-index: 400; }

/* .xt-table-cell { padding: 5px; border: none; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; } */

.xt-table-row {}
.xt-table-row-even { background-color: #fff; }
.xt-table-row-odd { background-color: #fff; }


.xt-table-row { border-bottom: 1px dashed #ddd; background-color: #fff; }
.xt-table-data-cell { border: none; overflow: hidden; }


.xt-table-selector-cell { text-align: center; border: none; width: 25px !important; border-top-right-radius: 10px; border-bottom-right-radius: 10px; background-color: #555; }
.xt-selection-arrow { cursor: pointer; cursor: hand; display: block; width: 25px; height: 25px; background-image: sc_static("images/arrow_right.png"); background-size: cover; }
.xt-right-side-spacer { width: 5px; }


/* .xt-row-data-label { text-align: center; display: block; width: 100%; height: 14px; line-height: 14px; font-size: 9pt; background-color: #999; color: #eee; text-shadow: #fff 0 1px 1px; box-shadow: 0 0 5px #888; } */

/* .xt-table-cell { white-space: nowrap; word-wrap: normal; text-overflow: ellipsis; overflow-x: hidden; } */

/* td.xt-last-column-borders { border-top-right-radius: 10px; border-bottom-right-radius: 10px; } */

.xt-selection-highlight { width: 100%; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: #ddd; opacity: 0.4; filter: "alpha(opacity=40)"; pointer-events: none; }

/** Row-Columns */
.xt-template-container { padding: 5px; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; width: 100%; height: 100%; }
.xt-column { display: table-cell; padding: 0 5px; vertical-align: top; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
.xt-row { display: block; overflow: hidden; word-wrap: normal; white-space: nowrap; text-overflow: ellipsis; }


span.xt-data-span.xt-default-value { font-weight: normal; color: #bbb; font-style: italic; font-size: .9em; }



/*.xt-header-container { position: absolute; top: 0; left: 0; right: 0; height: 50px; width: 100%; z-index: 500; box-shadow: 0 0 5px #888; } */
/* .xt-table-header-row .xt-table-header-cell-break { border-right: 1px solid #999; } */
/* .xt-table-header-row .xt-table-header-cell { background: #e1e1e1 sc_static("images/table_header_background.png") center left repeat-x; border: none; border-bottom: 1px solid #999; text-shadow: #fff 0 1px 1px; box-shadow: 0 0 5px #888; }*/
/* table.xt-header-table { background: #e1e1e1 sc_static("images/table_header_background.png") center left repeat-x; background-size: auto 100%; border: none; border-bottom: 1px solid #999; text-shadow: #fff 0 1px 1px; box-shadow: 0 0 5px #888; }
td.xt-table-header-label-cell span { font-weight: bold; font-size: 1.2em; }
td.xt-table-header-cell { padding: 5px; border: none; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
*/


.xt-skype-icon-gray { padding: 1px; display: inline-block; width: 15px; height: 15px; background-image: sc_static("images/iconpack/skype_dark.png"); background-size: cover; background-origin: content-box; background-repeat: no-repeat; }
.xt-vcard-icon-gray { padding: 1px; display: inline-block; width: 15px; height: 15px; background-image: sc_static("images/iconpack/vcard_dark.png"); background-size: cover; background-origin: content-box; background-repeat: no-repeat; }
.xt-yahoo-icon-gray { padding: 1px; display: inline-block; width: 15px; height: 15px; background-image: sc_static("images/iconpack/yahoo_dark.png"); background-size: cover; background-origin: content-box; background-repeat: no-repeat; }
.xt-skype-icon-active { padding: 1px; display: inline-block; width: 15px; height: 15px; background-image: sc_static("images/iconpack/skype_active.png"); background-size: cover; background-origin: content-box; background-repeat: no-repeat; }
.xt-vcard-icon-active { padding: 1px; display: inline-block; width: 15px; height: 15px; background-image: sc_static("images/iconpack/vcard_active.png"); background-size: cover; background-origin: content-box; background-repeat: no-repeat; }
.xt-yahoo-icon-active { padding: 1px; display: inline-block; width: 15px; height: 15px; background-image: sc_static("images/iconpack/yahoo_active.png"); background-size: cover; background-origin: content-box; background-repeat: no-repeat; }



.xt-left-text { text-align: left; }
.xt-right-text { text-align: right; }

.xt-inlined-left { float: left; }
.xt-inlined-right { float: right; }

.xt-clear { clear: both; }

.incident-very-high-priority { font-weight: bold; color: #ff0000; }
.incident-normal-priority { font-weight: normal; color: #008000; }
.incident-summary { font-weight: bold; }
.incident-crmaccount-name { font-weight: normal; font-style: oblique; color: #999; }
.incident-highlight { display: inline-block; background-color: #555; color: #eee; line-height: 8pt; font-size: 8pt; padding: 4px; border-radius: 4px; }
.incident-contact-name { font-weight: bold; }
.incident-priority-color-cell { height: 50px; width: 10px; border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
