<!-- template.html -->
<html>
<head>
  <title>Dashboard Anything | xTuple</title>
  <link rel="stylesheet" href="./npm/xtuple-dashboard-anything/public/js/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="./npm/xtuple-dashboard-anything/public/js/bower_components/bootswatch-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="./npm/xtuple-dashboard-anything/public/css/screen.css">
</head>
<body>
  <div id="content"></div>
  <script src="./npm/xtuple-dashboard-anything/public/js/app.built.js"></script>
</body>
</html>
