<!DOCTYPE html>
<html>
  <head>
    <title>xTuple Password Reset</title>
    <link rel="shortcut icon" href="/assets/favicon.ico" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  </head>
  <body class="enyo-unselectable">

  <style type="text/css" media="all">
  <% include login/stylesheets/screen.css %>
  </style>

  <section id="login">
    <header id="header">
      <img draggable="false" id="header_image" src="/assets/logo.png">
    </header>
    <section id="main">
      <div style="transform: translateZ(0px); opacity: 1;" id="form-fields">
        <form name="resetPasswordForm" action="../../resetUpdate" method="post">
          <div class="login-label" id="form-fields_idLabel">New Password</div>
          <input class="login-input" id="form-fields_id" name="password" type="password" placeholder="New Password">
          <div class="login-label" id="form-fields_idLabel">Re-enter Password</div>
          <input class="login-input" id="form-fields_id" name="password2" type="password" placeholder="Re-enter Password">
          <input class="login-button" style="margin-left: 65px;" 
            name="submit" id="form-fields_loginButton" type="submit" value="Reset Password"/>
        </form>
      </div>
    </section>
    <% for(var i = 0; i < message.length; i++) { %>
      <label class="login-message-box error"><%= message[i] %></label>
    <% } %>
  </section>
  <script>
    document.resetPasswordForm.password.focus();
  </script>
  </body>
</html>
