<!DOCTYPE html>
<html>
  <head>
    <title>xTuple Password Reset</title>
    <link rel="shortcut icon" href="/assets/favicon.ico" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/stylesheets/screen.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  </head>
  <body>
  <div class="container">
    <div>
      <img draggable="false" class="header_image" src="/assets/logo.png">
    </div>
    <div class="panel panel-primary main">
      <div class="panel-body">
        <form role="form" name="resetPasswordForm" action="../../resetUpdate" method="post">
          <div class="form-group">
            <label for="form-fields_password">Password</label>
            <input
              type="text"
              class="form-control input-sm"
              id="form-fields_password"
              placeholder="new password"
              name="password"
              type="password"
              autocapitalize="off"
              autocorrect="off">
          </div>
          <div class="form-group">
            <label for="form-fields_password">Re-enter Password</label>
            <input
              type="text"
              class="form-control input-sm"
              id="form-fields_password"
              placeholder="re-enter password"
              name="password2"
              type="password"
              autocapitalize="off"
              autocorrect="off">
          </div>
          <div>
            <div class="pull-right">
              <button
                class="btn btn-info"
                name="submit"
                id="form-fields_loginButton"
                type="submit">
                Reset Password
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <% for(var i = 0; i < message.length; i++) { %>
      <div class="alert alert-danger" role="alert"><%= message[i] %></div>
    <% } %>
  </div>
  <script>
    document.resetPasswordForm.password.focus();
  </script>
  </body>
</html>
