/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 17, ../sass/screen.scss */
.bggrad {
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 70, color-stop(0%, #666666), color-stop(70%, #333333));
  background-image: -webkit-radial-gradient(#666666, #333333 70%);
  background-image: -moz-radial-gradient(#666666, #333333 70%);
  background-image: -o-radial-gradient(#666666, #333333 70%);
  background-image: radial-gradient(#666666, #333333 70%);
  background-color: #999;
}

/* line 22, ../sass/screen.scss */
.app > * {
  width: 320px;
  box-shadow: -4px -4px 4px rgba(0, 0, 0, 0.3);
  background: #555;
}

/* line 28, ../sass/screen.scss */
.panels > * {
  border: 2px solid #333;
  font-size: 5em;
}

/* line 33, ../sass/screen.scss */
.wide > * {
  min-width: 50%;
}

/* line 38, ../sass/screen.scss */
.developer-ui-container {
  -webkit-box-shadow: #333333 4px 4px 10px -4px;
  -moz-box-shadow: #333333 4px 4px 10px -4px;
  box-shadow: #333333 4px 4px 10px -4px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  top: 100px;
  left: 0;
  position: absolute;
  background-color: #d8d8d8;
  z-index: 10;
}
/* line 48, ../sass/screen.scss */
.developer-ui-container .developer-rows .row {
  display: block;
  margin: 10px;
}
/* line 54, ../sass/screen.scss */
.developer-ui-container .onyx-grabber.developer-grabber {
  -webkit-box-shadow: #333333 4px 4px 10px -4px;
  -moz-box-shadow: #333333 4px 4px 10px -4px;
  box-shadow: #333333 4px 4px 10px -4px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #d8d8d8;
  position: absolute;
  right: -47px;
  top: 0;
  height: 54px;
  width: 50px;
}

/******** ********/
/* line 71, ../sass/screen.scss */
body {
  font-family: "arial", "arial black";
}

/* line 76, ../sass/screen.scss */
.xv-login .xv-login-form {
  position: absolute;
  height: 250px;
  width: 300px;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  margin-left: -150px;
}
/* line 84, ../sass/screen.scss */
.xv-login .xv-login-form .xv-message-box {
  font-size: 12px;
  text-align: center;
  padding: 10px;
}
/* line 86, ../sass/screen.scss */
.xv-login .xv-login-form .xv-message-box.error {
  color: #ff0000;
}
/* line 93, ../sass/screen.scss */
.xv-login .xv-organizations-selection {
  position: absolute;
  height: 300px;
  width: 400px;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -200px;
}
/* line 101, ../sass/screen.scss */
.xv-login .xv-organizations-selection .xv-organization-row {
  padding: 5px;
  cursor: pointer;
}
/* line 104, ../sass/screen.scss */
.xv-login .xv-organizations-selection .xv-organization-row:hover {
  background-color: #ddd;
}

/* line 112, ../sass/screen.scss */
.xv-startup-panel .xv-startup-divider {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  top: 200px;
  position: relative;
  color: #F49200;
  text-transform: uppercase;
  font-family: Segoe UI, Prelude Medium, Helvetica, Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
}
/* line 125, ../sass/screen.scss */
.xv-startup-panel .xv-startup-progress {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  top: 200px;
  position: relative;
}

/* Pullout.scss */
/* line 153, ../sass/screen.scss */
.xv-pullout-header {
  text-align: center;
  padding: 10px 0;
}

/* adapt to smaller displays */
@media (max-width: 480px) {
  /* line 160, ../sass/screen.scss */
  .pullout-menu {
    display: block;
    margin: 0;
  }
}
/* line 166, ../sass/screen.scss */
.pullout {
  position: absolute;
  top: 57px;
  left: 0;
  bottom: 0;
  width: 320px;
  background: #D8D8D8;
}

/* line 175, ../sass/screen.scss */
.pullout-shadow {
  position: absolute;
  height: 100%;
  width: 20px;
  right: -20px;
  /** this is weird and indicates the REAL need to change the
      whatever the css system is...this relative path is different... **/
  background: url("../../assets/sliding-shadow.png") repeat-y;
  background-size: 20px 2px;
}

/* line 186, ../sass/screen.scss */
.pullout-grabbutton {
  position: absolute;
  height: 54px;
  width: 50px;
  bottom: 20px;
  right: -46px;
  border-radius: 0px 10px 10px 0px;
  background-color: #D8D8D8;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

/* line 197, ../sass/screen.scss */
.pullout-toolbar {
  padding-top: 4px;
  text-align: center;
}

/* line 202, ../sass/screen.scss */
.xv-my-account-popup {
  background-color: white;
  color: black;
}
/* line 205, ../sass/screen.scss */
.xv-my-account-popup .xv-message {
  color: red;
  padding: 5px;
}
/* line 209, ../sass/screen.scss */
.xv-my-account-popup .onyx-button {
  margin-left: auto;
  margin-right: auto;
}
/* line 213, ../sass/screen.scss */
.xv-my-account-popup .onyx-input {
  padding-left: 10px;
  float: right;
}

/* line 227, ../sass/screen.scss */
.xv-navigator-header {
  font-size: small;
  font-weight: bold;
  text-transform: uppercase;
  color: #ff6600;
  padding-left: 20px;
}

/* Workspace.scss */
/* line 239, ../sass/screen.scss */
.xv-workspace-header {
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 8px;
  padding-left: 8px;
}

/* Parameter.scss */
/* line 249, ../sass/screen.scss */
.xv-parameter-item {
  background-color: white;
  /* this ain't right */
}
/* line 251, ../sass/screen.scss */
.xv-parameter-item .xv-label {
  color: black;
}
/* line 254, ../sass/screen.scss */
.xv-parameter-item .xv-decorated-label {
  color: black;
}
/* line 257, ../sass/screen.scss */
.xv-parameter-item .xv-picker {
  width: 150px;
}
/* line 260, ../sass/screen.scss */
.xv-parameter-item .xv-radiogroup {
  padding: 6px;
  margin-left: 130px;
  /* hack */
}
/* line 266, ../sass/screen.scss */
.xv-parameter-item .xv-relationwidget .xv-subinput {
  width: 127px;
}
/* line 271, ../sass/screen.scss */
.xv-parameter-item .xv-datewidget .xv-subinput {
  width: 127px;
}

/* List.scss */
/* line 278, ../sass/screen.scss */
.xv-list {
  background-color: white;
}
/* line 280, ../sass/screen.scss */
.xv-list .xv-list-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  padding-top: 3px;
  padding-bottom: 3px;
  border-bottom: 1px solid #ddd;
}
/* line 286, ../sass/screen.scss */
.xv-list .xv-list-item.header {
  padding-top: 0px;
}
/* line 289, ../sass/screen.scss */
.xv-list .xv-list-item.inactive {
  background-color: #8d8d8d;
  color: black;
}
/* line 293, ../sass/screen.scss */
.xv-list .xv-list-item.inactive .xv-list-column .xv-list-attr {
  background-color: #8d8d8d;
}
/* line 295, ../sass/screen.scss */
.xv-list .xv-list-item.inactive .xv-list-column .xv-list-attr.placeholder {
  color: #8d8d8d;
}
/* line 302, ../sass/screen.scss */
.xv-list .xv-list-item .xv-list-column.short {
  width: 150px;
}
/* line 305, ../sass/screen.scss */
.xv-list .xv-list-item .xv-list-column.first {
  width: 320px;
}
/* line 308, ../sass/screen.scss */
.xv-list .xv-list-item .xv-list-column.second {
  width: 165px;
}
/* line 311, ../sass/screen.scss */
.xv-list .xv-list-item .xv-list-column.third {
  width: 75px;
}
/* line 314, ../sass/screen.scss */
.xv-list .xv-list-item .xv-list-column.money {
  width: 85px;
}
/* line 318, ../sass/screen.scss */
.xv-list .xv-list-item.item-selected {
  background: #226b9a url(../../assets/item-hilite.png) repeat-x bottom;
}
/* line 320, ../sass/screen.scss */
.xv-list .xv-list-item.item-selected .xv-list-attr {
  color: white;
  background: none;
}
/* line 323, ../sass/screen.scss */
.xv-list .xv-list-item.item-selected .xv-list-attr.placeholder {
  font-style: italic;
  color: SkyBlue;
}
/* line 327, ../sass/screen.scss */
.xv-list .xv-list-item.item-selected .xv-list-attr.hyperlink {
  color: #F49200;
  background: #226b9a url(../../assets/item-hilite.png) repeat-x bottom;
}
/* line 333, ../sass/screen.scss */
.xv-list .xv-list-item.item-selected .xv-list-attr.header {
  background: SkyBlue;
}
/* line 338, ../sass/screen.scss */
.xv-list .xv-list-item.item-selected .xv-list-column .xv-list-attr {
  color: white;
  background: none;
}
/* line 341, ../sass/screen.scss */
.xv-list .xv-list-item.item-selected .xv-list-column .xv-list-attr.placeholder {
  font-style: italic;
  color: SkyBlue;
}
/* line 345, ../sass/screen.scss */
.xv-list .xv-list-item.item-selected .xv-list-column .xv-list-attr.hyperlink {
  color: #F49200;
  background: #226b9a url(../../assets/item-hilite.png) repeat-x bottom;
}

/* line 355, ../sass/screen.scss */
.xv-list-attr {
  padding: 5px;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
  background-color: white;
}
/* line 363, ../sass/screen.scss */
.xv-list-attr.header {
  padding: 4px;
  background: #8d8d8d;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}
/* line 371, ../sass/screen.scss */
.xv-list-attr.right {
  position: absolute;
  right: 0px;
  height: 20px;
}
/* line 376, ../sass/screen.scss */
.xv-list-attr.text-align-right {
  text-align: right;
}
/* line 379, ../sass/screen.scss */
.xv-list-attr.bold {
  font-weight: bold;
}
/* line 382, ../sass/screen.scss */
.xv-list-attr.error {
  color: #ff0000;
}
/* line 385, ../sass/screen.scss */
.xv-list-attr.italic {
  font-style: italic;
}
/* line 388, ../sass/screen.scss */
.xv-list-attr.placeholder {
  font-style: italic;
  color: #93a1a1;
}
/* line 392, ../sass/screen.scss */
.xv-list-attr.hyperlink {
  color: blue;
}

/* Groupbox.css */
/* line 398, ../sass/screen.scss */
.xv-groupbox {
  min-width: 300px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  margin-right: 5px;
}
/* line 404, ../sass/screen.scss */
.xv-groupbox.in-panel {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
/* line 408, ../sass/screen.scss */
.xv-groupbox.panel {
  min-width: 330px;
}

/* line 413, ../sass/screen.scss */
.xv-groupbox.in-panel > *:first-child {
  border-top-color: #aaaaaa;
  border-top: none;
  border-width: 1px;
  border-radius: 0 0 0 0;
}

/* line 420, ../sass/screen.scss */
.xv-groupbox.in-panel > *:last-child {
  border-radius: 0 0 0 0;
  border-bottom: none;
}

/* line 425, ../sass/screen.scss */
.xv-groupbox > * {
  display: block;
  /*box-shadow: inset 0px 1px 1px rgba(255,255,255,0.5);*/
  border-color: #aaaaaa;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  /*padding: 10px;*/
  /* reset styles that make 'item' look bad if they happen to be there */
  border-radius: 0;
  margin: 0;
}

/* line 437, ../sass/screen.scss */
.xv-groupbox > *:first-child {
  border-top-color: #aaaaaa;
  border-width: 1px;
  border-radius: 4px 4px 0 0;
}

/* line 443, ../sass/screen.scss */
.xv-groupbox > *:last-child {
  border-radius: 0 0 4px 4px;
}

/* line 447, ../sass/screen.scss */
.xv-groupbox > *:first-child:last-child {
  border-radius: 4px;
}

/* line 451, ../sass/screen.scss */
.xv-groupbox-header {
  padding: 2px 10px;
  /**/
  color: white;
  font-family: Segoe UI, Neue Helvetica, Helvectica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  /**/
  background-color: #343434;
  border: none;
  background: #4c4c4c url(../../images/gradient.png) repeat-x 0 10px;
}

/* line 465, ../sass/screen.scss */
.xv-groupbox .onyx-input-decorator {
  border: 0px;
}

/* line 469, ../sass/screen.scss */
.xv-groupbox > .onyx-input-decorator {
  border-color: #aaaaaa;
  border-width: 0 1px 1px 1px;
  border-radius: 0;
}

/* line 475, ../sass/screen.scss */
.xv-groupbox .xv-inputwidget {
  background-color: white;
}

/* line 479, ../sass/screen.scss */
.xv-groupbox > .onyx-input-decorator:first-child {
  border-width: 1px;
  border-radius: 4px 4px 0 0;
}

/* line 484, ../sass/screen.scss */
.xv-groupbox > .onyx-input-decorator:last-child {
  border-radius: 0 0 4px 4px;
}

/* line 488, ../sass/screen.scss */
.xv-groupbox > .onyx-input-decorator:first-child:last-child {
  border-radius: 4px;
}

/* line 492, ../sass/screen.scss */
.xv-groupbox-buttons {
  border: none;
}
/* line 494, ../sass/screen.scss */
.xv-groupbox-buttons .xv-groupbox-button-single {
  border-radius: 0 0 4px 4px;
}
/* line 497, ../sass/screen.scss */
.xv-groupbox-buttons .xv-groupbox-button-center {
  border-radius: 0 0 0 0;
}
/* line 500, ../sass/screen.scss */
.xv-groupbox-buttons .xv-groupbox-button-left {
  border-radius: 0 0 0 4px;
}
/* line 503, ../sass/screen.scss */
.xv-groupbox-buttons .xv-groupbox-button-right {
  border-radius: 0 0 4px 0;
}

/* line 508, ../sass/screen.scss */
.xv-popup-button {
  margin: 4px;
}

/* line 512, ../sass/screen.scss */
.xv-scroller {
  background: white;
}

/* line 516, ../sass/screen.scss */
.xv-error {
  color: #ff0000;
}

/* RelationsEditorBox.scss */
/* line 522, ../sass/screen.scss */
.xv-relations-editor-box .xv-groupbox {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-right: 0px;
  border: none;
}
/* line 529, ../sass/screen.scss */
.xv-relations-editor-box.panel {
  width: 350px;
}

/* ProjectTaskListRelationsBox.scss */
/* line 536, ../sass/screen.scss */
.xv-project-tasks-box.panel {
  width: 675px;
}

/* CommentBox.scss */
/* line 543, ../sass/screen.scss */
.xv-comment-box .xv-comment-box-repeater {
  background: white;
  max-width: 320px;
}
/* line 548, ../sass/screen.scss */
.xv-comment-box .xv-comment-box-label {
  padding: 4px;
  font-size: small;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 557, ../sass/screen.scss */
.xv-comment-box .xv-comment-box-textblock {
  padding: 12px;
  font-size: small;
  overflow: hidden;
}
/* line 561, ../sass/screen.scss */
.xv-comment-box .xv-comment-box-textblock.disabled {
  opacity: 0.6;
}

/* line 568, ../sass/screen.scss */
.xv-assignment-box .xv-decorated-label {
  width: 250px;
}
/* line 571, ../sass/screen.scss */
.xv-assignment-box .xv-label {
  width: 250px;
}

/* line 576, ../sass/screen.scss */
.xv-parameter-title {
  padding-top: 8px;
  font-size: large;
  text-align: center;
}

/*********XV WIDGETS***********/
/* AddressWidget.scss */
/* line 585, ../sass/screen.scss */
.xv-addresswidget {
  background-color: white;
  padding: 4px;
}
/* line 588, ../sass/screen.scss */
.xv-addresswidget .xv-addresswidget-viewer {
  border: 0px;
  font-size: medium;
  display: inline;
}
/* line 592, ../sass/screen.scss */
.xv-addresswidget .xv-addresswidget-viewer.placeholder {
  font-style: italic;
  color: #93a1a1;
}

/* line 599, ../sass/screen.scss */
.xv-addresswidget-input-decorator {
  background: white;
  display: block;
  margin: 4px;
}

/* line 605, ../sass/screen.scss */
.xv-addresswidget-combobox-decorator {
  background: white;
  display: block;
  margin: 4px;
  width: 205px;
}

/* line 612, ../sass/screen.scss */
.xv-addresswidget-input {
  width: 100%;
}

/* line 616, ../sass/screen.scss */
.xv-addresswidget-button {
  margin-right: 4px;
}

/* line 620, ../sass/screen.scss */
.xv-addresswidget-buttons {
  margin-top: 4px;
}

/* line 624, ../sass/screen.scss */
.xv-addresswidget-editor-header {
  padding: 4px;
}

/* line 628, ../sass/screen.scss */
.xv-addresswidget-editor {
  width: 320px;
  padding: 8px;
  padding-right: 16px;
}

/* line 634, ../sass/screen.scss */
.xv-addresslist-attr {
  padding: 5px;
  font-size: 13px;
  white-space: normal;
  overflow: auto;
  color: black;
  background-color: white;
}

/* line 643, ../sass/screen.scss */
.xv-negative {
  color: #C51616;
}

/* Characteristics.scss */
/* line 649, ../sass/screen.scss */
.xv-characteristic-picker .onyx-picker-decorator .onyx-button {
  width: 130px;
}

/* line 654, ../sass/screen.scss */
.xv-characteristic-item {
  border-bottom: 1px solid #aaaaaa;
}
/* line 656, ../sass/screen.scss */
.xv-characteristic-item .onyx-input-decorator > input {
  width: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 663, ../sass/screen.scss */
.xv-characteristic-button {
  margin-right: 4px;
}

/* line 667, ../sass/screen.scss */
.xv-characteristic-buttons {
  margin: 8px;
}

/* Combobox.scss */
/* line 672, ../sass/screen.scss */
.xv-combobox {
  height: 24px;
  width: 205px;
}

/* line 677, ../sass/screen.scss */
.xv-combobox-input {
  font-size: medium;
  border: 0px;
  top: -2px;
  position: relative;
  outline: none;
}

/* line 685, ../sass/screen.scss */
.xv-combobox-icon {
  left: 8px;
  position: relative;
}

/* picker.scss */
/* line 691, ../sass/screen.scss */
.onyx-picker .onyx-menu-item {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 698, ../sass/screen.scss */
.xv-pickerwidget {
  background-color: white;
}

/* line 702, ../sass/screen.scss */
.xv-picker {
  width: 180px;
  text-align: left;
}

/* line 707, ../sass/screen.scss */
.xv-label {
  width: 130px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  text-align: right;
}

/* line 716, ../sass/screen.scss */
.xv-decorated-label {
  width: 130px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 14px;
  text-align: right;
}

/* line 725, ../sass/screen.scss */
.xv-picker-label {
  width: 130px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 18px;
  text-align: right;
}

/* line 734, ../sass/screen.scss */
.xv-textarea-input {
  width: 95%;
  height: 100%;
  min-height: 100px;
  margin: 6px;
  border-radius: 4px;
  border-color: #ddd;
}

/* line 743, ../sass/screen.scss */
.xv-documents-picker-label {
  width: 85px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 16px;
  text-align: right;
}

/* line 752, ../sass/screen.scss */
.xv-documents-picker {
  width: 120px;
  margin: 6px;
}

/* line 757, ../sass/screen.scss */
.xv-relationwidget-completer {
  left: -200px;
  top: 15px;
}

/* line 763, ../sass/screen.scss */
.xv-relationwidget-column.left {
  padding-right: 18px;
  color: black;
  width: 140px;
}

/* line 770, ../sass/screen.scss */
.xv-relationwidget-icon {
  top: 2px;
  left: 8px;
  position: relative;
}

/* line 776, ../sass/screen.scss */
.xv-relationwidget-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-indent: 140px;
  font-size: small;
  padding-bottom: 4px;
  max-width: 325px;
}
/* line 784, ../sass/screen.scss */
.xv-relationwidget-description.disabled {
  opacity: 0.4;
}
/* line 787, ../sass/screen.scss */
.xv-relationwidget-description.label {
  text-indent: 0px;
  text-align: right;
}
/* line 792, ../sass/screen.scss */
.xv-relationwidget-description.hasLabel {
  text-indent: 0px;
}
/* line 795, ../sass/screen.scss */
.xv-relationwidget-description.hyperlink {
  color: blue;
}

/* line 800, ../sass/screen.scss */
.xv-textarea {
  background-color: white;
}
/* line 802, ../sass/screen.scss */
.xv-textarea.max-height {
  height: 100%;
}

/* line 807, ../sass/screen.scss */
.xv-half-check {
  background-image: url("../../assets/checkbox.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0 -96px;
  background-color: transparent;
}

/* line 816, ../sass/screen.scss */
.xv-menuitem.disabled {
  color: Dimgray;
}

/* line 822, ../sass/screen.scss */
.xv-button-bar .onyx-button {
  margin-left: 40px;
  margin-right: 40px;
}

/********END XV WIDGETS******/
