<!DOCTYPE html>
<html>
  <head>
    <title>xTuple Login</title>
    <link rel="shortcut icon" href="assets/favicon.ico" />
    <!-- -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  </head>
  <body class="enyo-unselectable">

    <style type="text/css" media="all">
    <% include login/stylesheets/screen.css %>
    </style>

    <section id="login" class="enyo-fit enyo-clip">
      <header id="header">
          <img draggable="false" id="header_image" src="../assets/logo.png">
      </header>
      <section class="enyo-panels enyo-arranger enyo-arranger-fit enyo-panels-fit-narrow" id="main">
        <div style="transform: translateZ(0px); opacity: 1;" id="form-fields">
          <form name="scopeForm" action="/login/scope" method="post">
            <div class="login-label" id="form-fields_idLabel">Choose Database</div>
            <div id="scriptDiv"></div>
            <select name="org">
            <% for(var i = 0; i < organizations.length; i++) {%>
              <option value="<%= organizations[i] %>"><%= organizations[i] %></div>
            <% } %>
            </select>
            <input class="enyo-tool-decorator onyx-button enyo-unselectable login-button" 
              id="form-fields_loginButton" 
              type="submit" 
              name="loginButton"
              value="Select"/>
          </form>
      </div>
    </section>
    <script>
      var injectedHtml = '',
        submitOrg = function (org) {
          document.scopeForm.org.value = org;
          document.scopeForm.submit();
        };
     
      <% for(var i = 0; i < organizations.length; i++) {%>
        injectedHtml = injectedHtml + '<div onclick=\'javascript: submitOrg("<%= organizations[i] %>");\', ' + 
          'class="organization-item">' + 
          '<%= organizations[i] %></div>';
      <% } %>

      document.getElementById('scriptDiv').innerHTML = injectedHtml;

      // clever: don't hide the non-js stuff until the js stuff works
      document.scopeForm.org.style.display = 'none'; 
      document.scopeForm.loginButton.style.display = 'none'; 
    </script>
  </body>
</html>
