<div class="xt-column-container xt-column-row">
  <div class="xt-column-row">
    <div class="xt-inlined-left xt-left-text">{{0}}</div>
    <div class="xt-inlined-right xt-right-text">{{1}}</div>
  </div>
  <div class="xt-clear"></div>
  <div class="xt-column-row">{{2}}</div>
  <div class="xt-column-row">{{3}}</div>
</div>
