/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 16, ../sass/screen.scss */
.bggrad {
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 70, color-stop(0%, #666666), color-stop(70%, #333333));
  background-image: -webkit-radial-gradient(#666666, #333333 70%);
  background-image: -moz-radial-gradient(#666666, #333333 70%);
  background-image: -o-radial-gradient(#666666, #333333 70%);
  background-image: radial-gradient(#666666, #333333 70%);
  background-color: #999;
}

/* line 21, ../sass/screen.scss */
.app > * {
  width: 320px;
  box-shadow: -4px -4px 4px rgba(0, 0, 0, 0.3);
  background: #555;
}

/* line 27, ../sass/screen.scss */
.left {
  color: white;
}

/* line 31, ../sass/screen.scss */
.item {
  position: relative;
  border-bottom: 1px solid #0E0E0E;
  padding: 16px 12px;
  background-color: #333333;
}

/* line 38, ../sass/screen.scss */
.item.onyx-selected {
  background-color: #226B9A;
}

/* line 42, ../sass/screen.scss */
.panels > * {
  border: 2px solid #333;
  font-size: 5em;
  text-align: center;
}

/* line 48, ../sass/screen.scss */
.wide > * {
  min-width: 50%;
}

/** DASHBOARD */
/* line 55, ../sass/screen.scss */
.xt-app .xt-dashboard {
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 70, color-stop(0%, #666666), color-stop(70%, #333333));
  background-image: -webkit-radial-gradient(#666666, #333333 70%);
  background-image: -moz-radial-gradient(#666666, #333333 70%);
  background-image: -o-radial-gradient(#666666, #333333 70%);
  background-image: radial-gradient(#666666, #333333 70%);
  background-color: #999;
  color: #fff;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 65, ../sass/screen.scss */
.xt-app .xt-dashboard .xt-dashboard-container {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -65px;
  height: 131px;
}
/* line 72, ../sass/screen.scss */
.xt-app .xt-dashboard .xt-dashboard-container .xt-dashboard-icons {
  margin: auto auto;
}
/* line 74, ../sass/screen.scss */
.xt-app .xt-dashboard .xt-dashboard-container .xt-dashboard-icons .xt-dashboard-icon {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  margin: 0 10px;
}
/* line 78, ../sass/screen.scss */
.xt-app .xt-dashboard .xt-dashboard-container .xt-dashboard-icons .xt-dashboard-icon:hover {
  cursor: pointer;
}
/* line 81, ../sass/screen.scss */
.xt-app .xt-dashboard .xt-dashboard-container .xt-dashboard-icons .xt-dashboard-icon .xt-dashboard-icon-label {
  width: 100%;
  text-align: center;
}

/** END DASHBOARD */
/* line 94, ../sass/screen.scss */
.developer-ui-container {
  -webkit-box-shadow: #333333 4px 4px 10px -4px;
  -moz-box-shadow: #333333 4px 4px 10px -4px;
  box-shadow: #333333 4px 4px 10px -4px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  top: 100px;
  left: 0;
  position: absolute;
  background-color: #d8d8d8;
  z-index: 10;
}
/* line 104, ../sass/screen.scss */
.developer-ui-container .developer-rows .row {
  display: block;
  margin: 10px;
}
/* line 110, ../sass/screen.scss */
.developer-ui-container .onyx-grabber.developer-grabber {
  -webkit-box-shadow: #333333 4px 4px 10px -4px;
  -moz-box-shadow: #333333 4px 4px 10px -4px;
  box-shadow: #333333 4px 4px 10px -4px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #d8d8d8;
  position: absolute;
  right: -47px;
  top: 0;
  height: 54px;
  width: 50px;
}

/* line 124, ../sass/screen.scss */
.crm-menu-item {
  padding: 10px;
  margin: 10px 0;
  text-align: center;
  background-color: #fff;
  color: #000;
}
/* line 130, ../sass/screen.scss */
.crm-menu-item.selected {
  background-color: #eee;
}
/* line 133, ../sass/screen.scss */
.crm-menu-item:hover {
  background-color: #eee;
}

/* line 139, ../sass/screen.scss */
.xt-info-list .xt-info-list-row {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  padding-top: 3px;
  padding-bottom: 3px;
  border-bottom: 1px solid #ddd;
}
/* line 145, ../sass/screen.scss */
.xt-info-list .xt-info-list-row .xt-info-list-row-column {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 320px;
  min-width: 320px;
  max-width: 320px;
  display: inline-block;
}
/* line 151, ../sass/screen.scss */
.xt-info-list .xt-info-list-row .xt-info-list-row-column .xt-info-list-basic-column {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
}
/* line 155, ../sass/screen.scss */
.xt-info-list .xt-info-list-row .xt-info-list-row-column .xt-info-list-basic-column .xt-info-list-basic-cell {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 162, ../sass/screen.scss */
.xt-info-list .xt-info-list-row .xt-info-list-row-column .xt-info-list-basic-column .xt-info-list-basic-cell.error {
  color: #ff0000;
}
/* line 165, ../sass/screen.scss */
.xt-info-list .xt-info-list-row .xt-info-list-row-column .xt-info-list-basic-column .xt-info-list-basic-cell.bold {
  font-weight: bold;
}
/* line 168, ../sass/screen.scss */
.xt-info-list .xt-info-list-row .xt-info-list-row-column .xt-info-list-basic-column .xt-info-list-basic-cell.empty {
  font-style: italic;
  color: #93a1a1;
}

/* line 178, ../sass/screen.scss */
.cell-key {
  font-weight: bold;
}

/* line 182, ../sass/screen.scss */
.cell-align-right {
  text-align: right;
}

/* line 186, ../sass/screen.scss */
.cell-italic {
  font-style: italic;
}

/* line 190, ../sass/screen.scss */
.xt-sub-module-content {
  -webkit-box-shadow: black -4px 0 10px -4px;
  -moz-box-shadow: black -4px 0 10px -4px;
  box-shadow: black -4px 0 10px -4px;
}

/* line 195, ../sass/screen.scss */
.xt-module-screen .xt-module-menu {
  width: 320px !important;
  background-color: #fff;
}
/* line 198, ../sass/screen.scss */
.xt-module-screen .xt-module-menu .xt-module-menu-item {
  padding: 15px;
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
}
/* line 202, ../sass/screen.scss */
.xt-module-screen .xt-module-menu .xt-module-menu-item:hover {
  background-color: #d6f1ff;
  cursor: pointer;
}
/* line 206, ../sass/screen.scss */
.xt-module-screen .xt-module-menu .xt-module-menu-item:active {
  background-color: #fff;
}
/* line 209, ../sass/screen.scss */
.xt-module-screen .xt-module-menu .xt-module-menu-item.selected {
  background-color: #d6f1ff;
}

/******** ********/
/* line 219, ../sass/screen.scss */
body {
  font-family: "arial", "arial black";
}

/* line 223, ../sass/screen.scss */
.xt-app {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 229, ../sass/screen.scss */
.xt-app .xt-postbooks {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 235, ../sass/screen.scss */
.xt-app .xt-postbooks .xt-postbooks-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 243, ../sass/screen.scss */
.xt-app .xt-postbooks .xt-postbooks-container .xt-login .xt-login-screen .xt-user-login-screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
}
/* line 250, ../sass/screen.scss */
.xt-app .xt-postbooks .xt-postbooks-container .xt-login .xt-login-screen .xt-user-login-screen .xt-user-login-block {
  background: url("../images/login-blue-scr.png") 0 0 no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  margin-left: -300px;
  height: 250px;
  width: 300px;
}
/* line 259, ../sass/screen.scss */
.xt-app .xt-postbooks .xt-postbooks-container .xt-login .xt-login-screen .xt-user-login-screen .xt-user-login-block .xt-user-login-sub-block {
  position: absolute;
  top: 30px;
  left: 20px;
  right: 0;
  bottom: 30px;
  /*background-color: $blue1;*/
  overflow: hidden;
}
/* line 269, ../sass/screen.scss */
.xt-app .xt-postbooks .xt-postbooks-container .xt-login .xt-login-screen .xt-user-login-screen .xt-user-login-block .xt-user-login-sub-block .xt-user-login-form .xt-input.xt-login-input {
  display: block;
  margin: 10px;
  margin-left: 35px;
}
/* line 276, ../sass/screen.scss */
.xt-app .xt-postbooks .xt-postbooks-container .xt-login .xt-login-screen .xt-user-login-screen .xt-user-login-block .xt-user-login-sub-block .xt-user-login-form .xt-button.xt-login-button {
  display: block;
  margin-left: 152px;
  width: 80px;
}
/* line 285, ../sass/screen.scss */
.xt-app .xt-postbooks .xt-postbooks-container .xt-login .xt-login-screen .xt-user-login-screen .xt-login-logo-block {
  /*@include box-shadow(#000 -9px 0 20px -14px);*/
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  height: 250px;
  width: 300px;
  background: url("../images/login-logo.png") 0 0 no-repeat;
}

/* line 305, ../sass/screen.scss */
.xt-login-screen .xt-session-selection-screen .xt-available-sessions .xt-available-sessions-wrapper {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 311, ../sass/screen.scss */
.xt-login-screen .xt-session-selection-screen .xt-available-sessions .xt-available-sessions-wrapper .xt-available-sessions-list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 318, ../sass/screen.scss */
.xt-login-screen .xt-session-selection-screen .xt-available-sessions .xt-available-sessions-wrapper .xt-available-sessions-list .xt-session-selection-row div {
  display: inline-block;
  padding: 5px;
}

/* line 331, ../sass/screen.scss */
.xt-app .xt-postbooks .xt-input {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 8px 8px 10px 8px;
  border: 1px solid #ddd;
  margin: 0;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  font-family: "arial", "arial black";
  width: 180px;
}
/* line 343, ../sass/screen.scss */
.xt-app .xt-postbooks .xt-button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #ddd;
  margin: 0;
  cursor: pointer;
  font-family: "arial", "arial black";
  font-size: 14px;
  background-color: #fff;
  color: #aaa;
}
/* line 353, ../sass/screen.scss */
.xt-app .xt-postbooks .xt-button:active {
  background-color: #ddd;
}
/* line 358, ../sass/screen.scss */
.xt-app .xt-postbooks .xt-screen-carousel {
  height: 100%;
  width: 100%;
}

/********* PULLOUT ************/
/* line 367, ../sass/screen.scss */
.parameter-item {
  min-height: 50px;
}

/* line 371, ../sass/screen.scss */
.parameter-item-input {
  margin-top: -10px;
  float: right;
}

/* line 376, ../sass/screen.scss */
.history-header {
  text-align: center;
  padding: 10px 0;
}

/* line 381, ../sass/screen.scss */
.history-scroller {
  background-color: #fff;
}

/* adapt to smaller displays */
@media (max-width: 480px) {
  /* line 387, ../sass/screen.scss */
  .pullout-menu {
    display: block;
    margin: 0;
  }
}
/* line 393, ../sass/screen.scss */
.pullout {
  position: absolute;
  top: 57px;
  left: 0;
  bottom: 0;
  width: 320px;
  background: #D8D8D8;
}

/* line 402, ../sass/screen.scss */
.pullout-shadow {
  position: absolute;
  height: 100%;
  width: 20px;
  right: -20px;
  background: url(../images/sliding-shadow.png) repeat-y;
  background-size: 20px 2px;
}

/* line 411, ../sass/screen.scss */
.pullout-grabbutton {
  position: absolute;
  height: 54px;
  width: 50px;
  bottom: 20px;
  right: -46px;
  border-radius: 0px 10px 10px 0px;
  background-color: #D8D8D8;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

/* line 422, ../sass/screen.scss */
.pullout-toolbar {
  padding-top: 4px;
  text-align: center;
}

/*********END PULLOUT *********/
