/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 15, ../sass/screen.scss */
.bggrad {
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 70, color-stop(0%, #666666), color-stop(70%, #333333));
  background-image: -webkit-radial-gradient(#666666, #333333 70%);
  background-image: -moz-radial-gradient(#666666, #333333 70%);
  background-image: -o-radial-gradient(#666666, #333333 70%);
  background-image: -ms-radial-gradient(#666666, #333333 70%);
  background-image: radial-gradient(#666666, #333333 70%);
  background-color: #999;
}

/* line 22, ../sass/screen.scss */
.dashboard .dashboard-icons-container {
  width: 100%;
  height: 113px;
  position: absolute;
  top: 50%;
  margin-top: -56px;
}
/* line 28, ../sass/screen.scss */
.dashboard .dashboard-icons-container .dashboard-icons {
  text-align: center;
}
/* line 30, ../sass/screen.scss */
.dashboard .dashboard-icons-container .dashboard-icons .dashboard-icon-column {
  text-align: center;
  min-width: 200px;
  display: inline-block;
  cursor: pointer;
}
/* line 37, ../sass/screen.scss */
.dashboard .dashboard-icons-container .dashboard-icons .dashboard-icon-column .dashboard-icon-label {
  color: #fff;
  font-weight: bold;
}

/* line 47, ../sass/screen.scss */
.developer-ui-container {
  -moz-box-shadow: #333333 4px 4px 10px -4px;
  -webkit-box-shadow: #333333 4px 4px 10px -4px;
  -o-box-shadow: #333333 4px 4px 10px -4px;
  box-shadow: #333333 4px 4px 10px -4px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -o-border-bottom-right-radius: 10px;
  -ms-border-bottom-right-radius: 10px;
  -khtml-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  top: 100px;
  left: 0;
  position: absolute;
  background-color: #d8d8d8;
  z-index: 10;
}
/* line 57, ../sass/screen.scss */
.developer-ui-container .developer-rows .row {
  display: block;
  margin: 10px;
}
/* line 63, ../sass/screen.scss */
.developer-ui-container .onyx-grabber.developer-grabber {
  -moz-box-shadow: #333333 4px 4px 10px -4px;
  -webkit-box-shadow: #333333 4px 4px 10px -4px;
  -o-box-shadow: #333333 4px 4px 10px -4px;
  box-shadow: #333333 4px 4px 10px -4px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  -o-border-top-right-radius: 10px;
  -ms-border-top-right-radius: 10px;
  -khtml-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -o-border-bottom-right-radius: 10px;
  -ms-border-bottom-right-radius: 10px;
  -khtml-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #d8d8d8;
  position: absolute;
  right: -47px;
  top: 0;
  height: 54px;
  width: 50px;
}

/* line 77, ../sass/screen.scss */
.crm-menu-item {
  padding: 10px;
  margin: 10px 0;
  text-align: center;
  background-color: #fff;
  color: #000;
}
/* line 83, ../sass/screen.scss */
.crm-menu-item.selected {
  background-color: #eee;
}
/* line 86, ../sass/screen.scss */
.crm-menu-item:hover {
  background-color: #eee;
}

/* line 91, ../sass/screen.scss */
.xt-info-list-row {
  background-color: #fff;
  padding-top: 3px;
  padding-bottom: 3px;
  border-bottom: 1px solid #ddd;
}
/* line 96, ../sass/screen.scss */
.xt-info-list-row:hover {
  background-color: #d6f1ff;
  cursor: pointer;
}
/* line 100, ../sass/screen.scss */
.xt-info-list-row .xt-info-list-row-column {
  width: 320px;
  min-width: 320px;
  max-width: 320px;
}
/* line 104, ../sass/screen.scss */
.xt-info-list-row .xt-info-list-row-column .xt-info-list-row-column-cell {
  padding: 5px;
  font-size: 11px;
}

/* line 112, ../sass/screen.scss */
.project-due-date {
  text-align: right;
}

/* line 115, ../sass/screen.scss */
.project-number {
  font-weight: bold;
}

/* line 123, ../sass/screen.scss */
.xt-sub-module-content {
  -moz-box-shadow: black -4px 0 10px -4px;
  -webkit-box-shadow: black -4px 0 10px -4px;
  -o-box-shadow: black -4px 0 10px -4px;
  box-shadow: black -4px 0 10px -4px;
}

/* line 128, ../sass/screen.scss */
.xt-module-screen .xt-module-menu {
  width: 320px !important;
  background-color: #fff;
}
/* line 131, ../sass/screen.scss */
.xt-module-screen .xt-module-menu .xt-module-menu-item {
  padding: 15px;
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
}
/* line 135, ../sass/screen.scss */
.xt-module-screen .xt-module-menu .xt-module-menu-item:hover {
  background-color: #d6f1ff;
  cursor: pointer;
}
/* line 139, ../sass/screen.scss */
.xt-module-screen .xt-module-menu .xt-module-menu-item:active {
  background-color: #fff;
}
/* line 142, ../sass/screen.scss */
.xt-module-screen .xt-module-menu .xt-module-menu-item.selected {
  background-color: #d6f1ff;
}

/******** ********/
/* line 155, ../sass/screen.scss */
body {
  font-family: "arial", "arial black";
}

/* line 159, ../sass/screen.scss */
.xt-app {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 165, ../sass/screen.scss */
.xt-app .xt-postbooks {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 171, ../sass/screen.scss */
.xt-app .xt-postbooks .xt-postbooks-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 179, ../sass/screen.scss */
.xt-app .xt-postbooks .xt-postbooks-container .xt-login .xt-login-screen .xt-user-login-screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
}
/* line 186, ../sass/screen.scss */
.xt-app .xt-postbooks .xt-postbooks-container .xt-login .xt-login-screen .xt-user-login-screen .xt-user-login-block {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  margin-left: -300px;
  height: 250px;
  width: 300px;
}
/* line 194, ../sass/screen.scss */
.xt-app .xt-postbooks .xt-postbooks-container .xt-login .xt-login-screen .xt-user-login-screen .xt-user-login-block .xt-user-login-sub-block {
  position: absolute;
  top: 30px;
  left: 30px;
  right: 0;
  bottom: 30px;
  background-color: #99ccff;
  overflow: hidden;
}
/* line 204, ../sass/screen.scss */
.xt-app .xt-postbooks .xt-postbooks-container .xt-login .xt-login-screen .xt-user-login-screen .xt-user-login-block .xt-user-login-sub-block .xt-user-login-form .xt-input.xt-login-input {
  display: block;
  margin: 10px;
  margin-left: 35px;
}
/* line 211, ../sass/screen.scss */
.xt-app .xt-postbooks .xt-postbooks-container .xt-login .xt-login-screen .xt-user-login-screen .xt-user-login-block .xt-user-login-sub-block .xt-user-login-form .xt-button.xt-login-button {
  display: block;
  margin-left: 152px;
  width: 80px;
}
/* line 220, ../sass/screen.scss */
.xt-app .xt-postbooks .xt-postbooks-container .xt-login .xt-login-screen .xt-user-login-screen .xt-login-logo-block {
  -moz-box-shadow: black -9px 0 20px -14px;
  -webkit-box-shadow: black -9px 0 20px -14px;
  -o-box-shadow: black -9px 0 20px -14px;
  box-shadow: black -9px 0 20px -14px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  height: 250px;
  width: 300px;
  background: url("../images/login-logo.png") 0 0 no-repeat;
}

/* line 240, ../sass/screen.scss */
.xt-login-screen .xt-session-selection-screen .xt-available-sessions .xt-available-sessions-wrapper {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 246, ../sass/screen.scss */
.xt-login-screen .xt-session-selection-screen .xt-available-sessions .xt-available-sessions-wrapper .xt-available-sessions-list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 253, ../sass/screen.scss */
.xt-login-screen .xt-session-selection-screen .xt-available-sessions .xt-available-sessions-wrapper .xt-available-sessions-list .xt-session-selection-row div {
  display: inline-block;
  padding: 5px;
}

/* line 266, ../sass/screen.scss */
.xt-app .xt-postbooks .xt-input {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  padding: 8px 8px 10px 8px;
  border: 1px solid #ddd;
  margin: 0;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  font-family: "arial", "arial black";
  width: 180px;
}
/* line 278, ../sass/screen.scss */
.xt-app .xt-postbooks .xt-button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #ddd;
  margin: 0;
  cursor: pointer;
  font-family: "arial", "arial black";
  font-size: 14px;
  background-color: #fff;
  color: #aaa;
}
/* line 288, ../sass/screen.scss */
.xt-app .xt-postbooks .xt-button:active {
  background-color: #ddd;
}
/* line 293, ../sass/screen.scss */
.xt-app .xt-postbooks .xt-screen-carousel {
  height: 100%;
  width: 100%;
}
