/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 13, ../sass/screen.scss */
.bggrad {
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 70, color-stop(0%, #666666), color-stop(70%, #333333));
  background-image: -webkit-radial-gradient(#666666, #333333 70%);
  background-image: -moz-radial-gradient(#666666, #333333 70%);
  background-image: -o-radial-gradient(#666666, #333333 70%);
  background-image: -ms-radial-gradient(#666666, #333333 70%);
  background-image: radial-gradient(#666666, #333333 70%);
  background-color: #999;
}

/* line 19, ../sass/screen.scss */
.login-screen .user-login-screen-container {
  width: 166px;
  height: 300px;
  margin-top: -150px;
  margin-left: -83px;
  top: 50%;
  left: 50%;
  position: absolute;
}

/* line 35, ../sass/screen.scss */
.available-sessions-container .session-selection-row {
  margin-bottom: 1px;
}
/* line 37, ../sass/screen.scss */
.available-sessions-container .session-selection-row.header {
  padding: 15px 5px;
}
/* line 40, ../sass/screen.scss */
.available-sessions-container .session-selection-row.table-row {
  font-size: 14px;
  background-color: #fff;
}
/* line 43, ../sass/screen.scss */
.available-sessions-container .session-selection-row.table-row:hover {
  background-color: #ddd;
}
/* line 46, ../sass/screen.scss */
.available-sessions-container .session-selection-row.table-row:active {
  background-color: #fff;
}
/* line 49, ../sass/screen.scss */
.available-sessions-container .session-selection-row.table-row div {
  padding: 15px 5px;
  overflow-x: hidden;
}
/* line 54, ../sass/screen.scss */
.available-sessions-container .session-selection-row .session-row-username {
  width: 100px;
}
/* line 57, ../sass/screen.scss */
.available-sessions-container .session-selection-row .session-row-organization {
  width: 120px;
}
/* line 60, ../sass/screen.scss */
.available-sessions-container .session-selection-row .session-row-created {
  width: 120px;
}
/* line 63, ../sass/screen.scss */
.available-sessions-container .session-selection-row .session-row-sid {
  width: 300px;
}

/* line 70, ../sass/screen.scss */
.dashboard .dashboard-icons-container {
  width: 100%;
  height: 113px;
  position: absolute;
  top: 50%;
  margin-top: -56px;
}
/* line 76, ../sass/screen.scss */
.dashboard .dashboard-icons-container .dashboard-icons {
  text-align: center;
}
/* line 78, ../sass/screen.scss */
.dashboard .dashboard-icons-container .dashboard-icons .dashboard-icon-column {
  text-align: center;
  min-width: 200px;
  display: inline-block;
  cursor: pointer;
}
/* line 85, ../sass/screen.scss */
.dashboard .dashboard-icons-container .dashboard-icons .dashboard-icon-column .dashboard-icon-label {
  color: #fff;
  font-weight: bold;
}

/* line 95, ../sass/screen.scss */
.developer-ui-container {
  -moz-box-shadow: #333333 4px 4px 10px -4px;
  -webkit-box-shadow: #333333 4px 4px 10px -4px;
  -o-box-shadow: #333333 4px 4px 10px -4px;
  box-shadow: #333333 4px 4px 10px -4px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -o-border-bottom-right-radius: 10px;
  -ms-border-bottom-right-radius: 10px;
  -khtml-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  top: 100px;
  left: 0;
  position: absolute;
  background-color: #d8d8d8;
  z-index: 10;
}
/* line 105, ../sass/screen.scss */
.developer-ui-container .developer-rows .row {
  display: block;
  margin: 10px;
}
/* line 111, ../sass/screen.scss */
.developer-ui-container .onyx-grabber.developer-grabber {
  -moz-box-shadow: #333333 4px 4px 10px -4px;
  -webkit-box-shadow: #333333 4px 4px 10px -4px;
  -o-box-shadow: #333333 4px 4px 10px -4px;
  box-shadow: #333333 4px 4px 10px -4px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  -o-border-top-right-radius: 10px;
  -ms-border-top-right-radius: 10px;
  -khtml-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -o-border-bottom-right-radius: 10px;
  -ms-border-bottom-right-radius: 10px;
  -khtml-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #d8d8d8;
  position: absolute;
  right: -47px;
  top: 0;
  height: 54px;
  width: 50px;
}

/* line 129, ../sass/screen.scss */
.module-left-panel-container {
  background-color: #333;
  color: #fff;
  width: 320px;
}

/* line 135, ../sass/screen.scss */
.module-right-panel-container {
  -moz-box-shadow: black -4px 0 10px -4px;
  -webkit-box-shadow: black -4px 0 10px -4px;
  -o-box-shadow: black -4px 0 10px -4px;
  box-shadow: black -4px 0 10px -4px;
  background-color: #555;
  color: #fff;
}

/* line 141, ../sass/screen.scss */
.crm-menu-item {
  padding: 10px;
  margin: 10px 0;
  text-align: center;
  background-color: #fff;
  color: #000;
}
/* line 147, ../sass/screen.scss */
.crm-menu-item.selected {
  background-color: #eee;
}
/* line 150, ../sass/screen.scss */
.crm-menu-item:hover {
  background-color: #eee;
}
