/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/images";
@import "compass/css3/box-sizing";

$highlight  : #d6f1ff;
$orange     : #ff6600;

body {}
 
.bggrad {
  @include background-image(radial-gradient(#666, #333 70%));
  background-color: #999;
}

.app > * {
	width: 320px;
	box-shadow: -4px -4px 4px rgba(0,0,0,0.3);
	background: #555;
}

.left {
	color: white;
}

.item {
	position: relative;
	border-bottom: 1px solid #0E0E0E;
	padding: 16px 12px;
	background-color: #333333;
}

.item.onyx-selected {
	background-color: #226B9A;
}

.panels > * {
	border: 2px solid #333;
	font-size: 5em;
	//text-align: center;
}

.wide > * {
	min-width: 50%;
}


.developer-ui-container {
  @include box-shadow(#333 4px 4px 10px -4px);
  @include border-corner-radius(bottom, right, 10px);
  top: 100px;
  left: 0;
  position: absolute;

  background-color: #d8d8d8;
  z-index: 10;
  .developer-rows {
    .row {
      display: block;
      margin: 10px;
    }
  }
  .onyx-grabber {
    &.developer-grabber {
      @include box-shadow(#333 4px 4px 10px -4px);
      @include border-corner-radius(top, right, 10px);
      @include border-corner-radius(bottom, right, 10px);
      background-color: #d8d8d8;
      position: absolute;
      right: -47px;
      top: 0;
      height: 54px;
      width: 50px;
    }
  }
}

/******** ********/
$blue1      : #99ccff;

body {
  font-family: "arial", "arial black";
}

.xt-app {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .xv-postbooks {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.xv-login {
  .xv-login-form {
    position: absolute;
    height: 250px;
    width: 300px;
    top: 50%;
    left: 50%;
    margin-top: -125px;
    margin-left: -150px;
    .xv-message-box {
      font-size: 12px;
      &.error {
        color: #ff0000;
      }
      text-align: center;
      padding: 10px;
    }
  }
  .xv-organizations-selection {
    position: absolute;
    height: 300px;
    width: 400px;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -200px;
    .xv-organization-row {
      padding: 5px;
      cursor: pointer;
      &:hover {
        background-color: #ddd;
      }
    }
  }
}

.xv-startup-panel {
  .xv-startup-divider {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    top: 200px;
    position: relative;
  	color: #F49200;
  	text-transform: uppercase;
  	font-family: Segoe UI, Prelude Medium, Helvetica, Verdana, sans-serif;
  	font-size: 14px;
  	font-weight: bold;
  	margin-bottom: 8px;
  }
  .xv-startup-progress {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    top: 200px;
    position: relative;
  }
}

/* Pullout.scss */
@mixin slim-datewidget($labelVisibility, $pickerVisibility: visible) {
  .xv-input-decorator {
    padding: 0px;
    height: 32px;
  }
  .xv-label {
    visibility: $labelVisibility;
  }
  .onyx-icon {
    visibility: $pickerVisibility;
    vertical-align: top;
  }
  .onyx-input {
    width: 90px;
    vertical-align: top;
  }
}

.xv-pullout-header {
	text-align: center;
	padding: 10px 0;
}

/* adapt to smaller displays */
@media (max-width: 480px) {
	.pullout-menu {
		display: block;
		margin: 0;
	}
}

.pullout {
	position: absolute;
	top: 57px;
	left: 0;
	bottom: 0;
	width: 320px;
	background: #D8D8D8;
}

.pullout-shadow {
	position: absolute;
	height: 100%;
	width: 20px;
	right: -20px;
	/** this is weird and indicates the REAL need to change the
	    whatever the css system is...this relative path is different... **/
	background: url("../../assets/sliding-shadow.png") repeat-y;
	background-size: 20px 2px;
}

.pullout-grabbutton {
	position: absolute;
	height: 54px;
	width: 50px;
	bottom: 20px;
	right: -46px;
	border-radius: 0px 10px 10px 0px;
	background-color: #D8D8D8;
	box-shadow: 4px 4px 4px rgba(0,0,0,0.3);
}

.pullout-toolbar {
	padding-top: 4px;
	text-align: center;
}

.xv-my-account-popup {
  background-color: white;
  color: black;
  .xv-message {
    color:red;
    padding: 5px;
  }
  .onyx-button {
    margin-left: auto;
    margin-right: auto;
  }
  .onyx-input {
    padding-left: 10px;
    float: right;
  }
}


//
// XV-VIEWS
//

//
// Navigator
//
.xv-navigator-header {
  font-size: small;
  font-weight: bold;
  text-transform: uppercase;
  color: $orange;
  padding-left: 20px;
}




/* Workspace.scss */
.xv-workspace-header {
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 8px;
  padding-left: 8px;
}

/* Parameter.scss */
.xv-parameter-item {
  background-color: white;
  .xv-label {
    color: black;
  }
  .xv-decorated-label {
    color: black;
  }
  .xv-picker {
    width: 150px;
  }
  /* this ain't right */
  .xv-relationwidget {
    .xv-subinput {
     width: 127px;
    }
  }
  .xv-datewidget {
    .xv-subinput {
      width: 127px;
    }
  }
}

/* List.scss */
.xv-list {
  background-color: white;
  .xv-list-item {
    @include box-sizing(border-box);
    background-color: #fff;
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: 1px solid #ddd;
    &.header {
      padding-top: 0px;    
    }
    &.inactive {
      background-color: #8d8d8d;
      color: black;
      .xv-list-column {
        .xv-list-attr {
          background-color: #8d8d8d;
          &.placeholder {
            color: #8d8d8d;
          }
        }
      }
    }
    .xv-list-column {
      &.short {
        width: 150px;
      }
      &.first {
        width: 320px;
      }
      &.second {
        width: 165px;
      }
      &.third {
        width: 75px;
      }
      &.money {
        width: 85px;
      }
    }
    &.item-selected {
			background: #226B9A url(../../assets/item-hilite.png) repeat-x bottom;
			.xv-list-attr {
        color: white;
        background: none;
        &.placeholder {
          font-style: italic;
          color: SkyBlue;
        }
        &.hyperlink {
          color: #F49200;
          background: #226B9A url(../../assets/item-hilite.png) repeat-x bottom;
        }
      }
      .xv-list-attr {
        &.header {
          background: SkyBlue;
        }
      }
			.xv-list-column {
			  .xv-list-attr {
          color: white;
          background: none;
          &.placeholder {
            font-style: italic;
            color: SkyBlue;
          }
          &.hyperlink {
            color: #F49200;
            background: #226B9A url(../../assets/item-hilite.png) repeat-x bottom;
          }
        }
      }
    }
  }
}

.xv-list-attr {
  padding: 5px;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
  background-color: white;
  &.header {
    padding: 4px;
    background: #8d8d8d;
    font-size: 11px;
  	font-weight: bold;
  	text-transform: uppercase;
  	color: white;
  }
  &.right {
    position: absolute;
    right: 0px;
  }
  &.text-align-right {
    text-align: right;
  }
  &.bold {
    font-weight: bold;
  }
  &.error {
    color: #ff0000;
  }
  &.italic {
    font-style: italic;
  }
  &.placeholder {
    font-style: italic;
    color: #93a1a1;
  }
  &.hyperlink {
    color: blue;
  }
}

/* Groupbox.css */
.xv-groupbox {
  min-width: 300px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  margin-right: 5px;
  &.in-panel {
		padding: 0 0 0 0;
		margin: 0 0 0 0;
	}
  &.panel {
      min-width: 330px;
  }
}

.xv-groupbox.in-panel > *:first-child {
	border-top-color: #aaaaaa;
	border-top: none;
	border-width: 1px;
	border-radius: 0 0 0 0;
}

.xv-groupbox.in-panel > *:last-child {
	border-radius: 0 0 0 0;
	border-bottom: none;
}

.xv-groupbox > * {
	display: block;
	/*box-shadow: inset 0px 1px 1px rgba(255,255,255,0.5);*/
	border-color: #aaaaaa;
	border-style: solid;
	border-width: 0 1px 1px 1px;
	/*padding: 10px;*/
	/* reset styles that make 'item' look bad if they happen to be there */
	border-radius: 0;
	margin: 0;
}

.xv-groupbox > *:first-child {
	border-top-color: #aaaaaa;
	border-width: 1px;
	border-radius: 4px 4px 0 0;
}

.xv-groupbox > *:last-child {
	border-radius: 0 0 4px 4px;
}

.xv-groupbox > *:first-child:last-child {
	border-radius: 4px;
}

.xv-groupbox-header {
	padding: 2px 10px;
	/**/
	color: white;
	font-family: Segoe UI, Neue Helvetica, Helvectica, Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	/**/
	background-color: #343434;
	border: none;
	background: #4c4c4c url(../../images/gradient.png) repeat-x 0 10px;
}

.xv-groupbox .onyx-input-decorator {
	border: 0px;
}

.xv-groupbox > .onyx-input-decorator {
	border-color: #aaaaaa;
	border-width: 0 1px 1px 1px;
	border-radius: 0;
}

.xv-groupbox .xv-inputwidget {
  background-color: white;
}

.xv-groupbox > .onyx-input-decorator:first-child {
	border-width: 1px;
	border-radius: 4px 4px 0 0;
}

.xv-groupbox > .onyx-input-decorator:last-child {
	border-radius: 0 0 4px 4px;
}

.xv-groupbox > .onyx-input-decorator:first-child:last-child {
	border-radius: 4px;
}

.xv-groupbox-buttons {
	border: none;
	.xv-groupbox-button-single {
	  border-radius: 0 0 4px 4px;
	}
	.xv-groupbox-button-center {
	  border-radius: 0 0 0 0;
	}
	.xv-groupbox-button-left {
      border-radius: 0 0 0 4px;
	}
	.xv-groupbox-button-right {
      border-radius: 0 0 4px 0;
	}
}

.xv-popup-button {
  margin: 4px;
}

.xv-scroller {
  background: white;
}

.xv-error {
  color: #ff0000;
}

/* ProjectTaskListRelationsBox.scss */
.xv-project-tasks-box {
  &.panel {
    width: 675px;
  }
  .xv-groupbox {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-right: 0px;
    border: none;
    &.panel {
  		min-width: 0px;
  	}
  }
}

/* CommentBox.scss */
.xv-comment-box {
  .xv-comment-box-repeater {
    background: white;
    max-width: 320px;
  }

  .xv-comment-box-label {
    padding: 4px;
    font-size: small;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .xv-comment-box-textblock {
    padding: 12px;
    font-size: small;
    overflow: hidden;
    &.disabled {
      opacity: 0.6;
    }
  }
}

.xv-assignment-box {
  .xv-decorated-label {
    width: 250px;  
  }
  .xv-label {
    width: 250px;  
  }
}

.xv-parameter-title {
  padding-top: 8px;
  font-size: large;
  text-align: center;
}

/*********XV WIDGETS***********/

/* AddressWidget.scss */
.xv-addresswidget {
  background-color: white;
  padding: 4px;
  .xv-addresswidget-viewer {
    border: 0px;
    font-size: medium;
    display: inline;
    &.placeholder {
      font-style: italic;
      color: #93a1a1;
    }
  }
}

.xv-addresswidget-input-decorator {
  background: white;
  display: block;
  margin: 4px;
}

.xv-addresswidget-combobox-decorator {
  background: white;
  display: block;
  margin: 4px;
  width: 205px;
}

.xv-addresswidget-input {
  width: 100%;
}

.xv-addresswidget-button {
  margin-right: 4px;
}

.xv-addresswidget-buttons {
  margin-top: 4px;
}

.xv-addresswidget-editor-header {
  padding: 4px;
}

.xv-addresswidget-editor {
  width: 320px;
  padding: 8px;
  padding-right: 16px;
}

.xv-addresslist-attr {
  padding: 5px;
  font-size: 13px;
  white-space: normal;
  overflow: auto;
  color: black;
  background-color: white;
}

.xv-negative {
	color: #C51616;
}

/* Characteristics.scss */
.xv-characteristic-picker {
  .onyx-picker-decorator .onyx-button {
    width: 130px;
  }
}

.xv-characteristic-item {
  border-bottom: 1px solid #aaaaaa;
  .onyx-input-decorator > input {
    width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.xv-characteristic-button {
  margin-right: 4px;
}

.xv-characteristic-buttons {
  margin: 8px;
}

/* Combobox.scss */
.xv-combobox {
  height: 24px;
  width: 205px;
}

.xv-combobox-input {
  font-size: medium;
  border: 0px;
  top: -2px;
  position: relative;
  outline: none;
}

.xv-combobox-icon {
  left: 8px;
  position: relative;
}

/* picker.scss */
.xv-pickerwidget {
  background-color: white;
}

.xv-picker {
  width: 180px;
}

.xv-label {
  width: 130px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  text-align: right;
}

.xv-decorated-label {
  width: 130px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 14px;
  text-align: right;
}

.xv-picker-label {
  width: 130px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 18px;
  text-align: right;
}

.xv-textarea-input {
  width: 95%;
  min-height: 100px;
  margin: 6px;
  border-radius: 4px;
  border-color: #ddd;
}

.xv-documents-picker-label {
  width: 85px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 16px;
  text-align: right;
}

.xv-documents-picker {
  width: 120px;
  margin: 6px;
}

.xv-relationwidget-completer {
  left: -200px; 
  top: 15px;
}

.xv-relationwidget-column {
  &.left {
    padding-right: 18px;
    color: black;
    width: 140px;
  }
}

.xv-relationwidget-icon {
  top: 2px;
  left: 8px;
  position: relative;
}

.xv-relationwidget-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-indent: 140px;
  font-size: small;
  padding-bottom: 4px;
  max-width: 325px;
  &.disabled {
    opacity: 0.4;
  }
  &.label {
    text-indent: 0px; 
    text-align: right;
    
  }
  &.hasLabel {
    text-indent: 0px;
  }
  &.hyperlink {
    color: blue;
  }
}

.xv-textarea {
  background-color: white;
}

.xv-half-check {
  background-image: url("../../assets/checkbox.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0 -96px;
  background-color: transparent;
}

.xv-menuitem {
  &.disabled {
    color: Dimgray;
  }
}

/********END XV WIDGETS******/



