/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/images";
@import "compass/css3/box-sizing";

$highlight  : #d6f1ff;
$orange     : #ff6600;
 
.bggrad {
 @include background-image(radial-gradient(#666, #333 70%));
  background-color: #999;
}

.developer-ui-container {
  @include box-shadow(#333 4px 4px 10px -4px);
  @include border-corner-radius(bottom, right, 10px);
  top: 100px;
  left: 0;
  position: absolute;

  background-color: #d8d8d8;
  z-index: 10;
  .developer-rows {
    .row {
      display: block;
      margin: 10px;
    }
  }
  .onyx-grabber {
    &.developer-grabber {
      @include box-shadow(#333 4px 4px 10px -4px);
      @include border-corner-radius(top, right, 10px);
      @include border-corner-radius(bottom, right, 10px);
      background-color: #d8d8d8;
      position: absolute;
      right: -47px;
      top: 0;
      height: 54px;
      width: 50px;
    }
  }
}

body {
  font-family: "arial", "arial black";
}
