/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/images";
@import "compass/css3/box-sizing";

$highlight  : #d6f1ff;

body {}

.bggrad {
  @include background-image(radial-gradient(#666, #333 70%));
  background-color: #999;
}

.app > * {
	width: 320px;
	box-shadow: -4px -4px 4px rgba(0,0,0,0.3);
	background: #555;
}

.left {
	color: white;
}

.item {
	position: relative;
	border-bottom: 1px solid #0E0E0E;
	padding: 16px 12px;
	background-color: #333333;
}

.item.onyx-selected {
	background-color: #226B9A;
}

.panels > * {
	border: 2px solid #333;
	font-size: 5em;
	//text-align: center;
}

.wide > * {
	min-width: 50%;
}

/** DASHBOARD */

.xt-app {
  .xt-dashboard {
    @include background-image(radial-gradient(#666, #333 70%));
    background-color: #999;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .xt-dashboard-container {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      margin-top: -65px;
      height: 131px;
      .xt-dashboard-icons {
        margin: auto auto;
        .xt-dashboard-icon {
          @include box-sizing(border-box);
          display: inline-block;
          margin: 0 10px;
          &:hover {
            cursor: pointer;
          }
          .xt-dashboard-icon-label {
            width: 100%;
            text-align: center;
          }
        }
      }
    }
  }
}

/** END DASHBOARD */


.developer-ui-container {
  @include box-shadow(#333 4px 4px 10px -4px);
  @include border-corner-radius(bottom, right, 10px);
  top: 100px;
  left: 0;
  position: absolute;

  background-color: #d8d8d8;
  z-index: 10;
  .developer-rows {
    .row {
      display: block;
      margin: 10px;
    }
  }
  .onyx-grabber {
    &.developer-grabber {
      @include box-shadow(#333 4px 4px 10px -4px);
      @include border-corner-radius(top, right, 10px);
      @include border-corner-radius(bottom, right, 10px);
      background-color: #d8d8d8;
      position: absolute;
      right: -47px;
      top: 0;
      height: 54px;
      width: 50px;
    }
  }
}

.crm-menu-item {
  padding: 10px;
  margin: 10px 0;
  text-align: center;
  background-color: #fff;
  color: #000;
  &.selected {
    background-color: #eee;
  }
  &:hover {
    background-color: #eee;
  }
}

.xt-info-list {
  .xt-info-list-row {
    @include box-sizing(border-box);
    background-color: #fff;
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: 1px solid #ddd;
    .xt-info-list-row-column {
      @include box-sizing(border-box);
      width: 320px;
      min-width: 320px;
      max-width: 320px;
      display: inline-block;
      .xt-info-list-basic-column {
        @include box-sizing(border-box);
        display: inline-block;
        vertical-align: top;
        .xt-info-list-basic-cell {
          @include box-sizing(border-box);
          padding: 5px;
          font-size: 13px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          &.error {
            color: #ff0000;
          }
          &.emphasis {
            color: blue;
          }
          &.bold {
            font-weight: bold;
          }
          &.empty {
            font-style: italic;
            color: #93a1a1;
          }
        }
      }
    }
  }
}

.cell-key {
  font-weight: bold;
}

.cell-align-right {
  text-align: right;
}

.cell-italic {
  font-style: italic;
}

.xt-sub-module-content {
  @include box-shadow(#000 -4px 0 10px -4px);
}

.xt-module-screen {
  .xt-module-menu {
    width: 320px !important;
    background-color: #fff;
    .xt-module-menu-item {
      padding: 15px;
      vertical-align: middle;
      border-bottom: 1px solid #ddd;
      &:hover {
        background-color: $highlight;
        cursor: pointer;
      }
      &:active {
        background-color: #fff;
      }
      &.selected {
        background-color: $highlight;
      }
    }
  }
}

/******** ********/
$blue1      : #99ccff;

body {
  font-family: "arial", "arial black";
}

.xt-app {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .xt-postbooks {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .xt-postbooks-container {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      .xt-login {
        .xt-login-screen {
          .xt-user-login-screen {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #fff;
            .xt-user-login-block {
              background: url("../assets/login-blue-scr.png") 0 0 no-repeat;
              position: absolute;
              top: 50%;
              left: 50%;
              margin-top: -125px;
              margin-left: -300px;
              height: 250px;
              width: 300px;
              .xt-user-login-sub-block {
                position: absolute;
                top: 30px;
                left: 20px;
                right: 0;
                bottom: 30px;
                /*background-color: $blue1;*/
                overflow: hidden;
                .xt-user-login-form {
                  .xt-input {
                    &.xt-login-input {
                      display: block;
                      margin: 10px;
                      margin-left: 35px;
                    }
                  }
                  .xt-button {
                    &.xt-login-button {
                      display: block;
                      margin-left: 152px;
                      width: 80px;
                    }
                  }
                }
              }
            }
            .xt-login-logo-block {
              /*@include box-shadow(#000 -9px 0 20px -14px);*/
              position: absolute;
              top: 50%;
              left: 50%;
              margin-top: -125px;
              height: 250px;
              width: 300px;
              background: url("../assets/login-logo.png") 0 0 no-repeat;
            }
          }
        }
      }
    }
  }
}

.xt-login-screen {
  .xt-session-selection-screen {
    .xt-available-sessions {
      .xt-available-sessions-wrapper {
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        bottom: 0;
        .xt-available-sessions-list {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          .xt-session-selection-row {
            div {
              display: inline-block;
              padding: 5px;
            }
          }
        }
      }
    }
  }
}

.xt-app {
  .xt-postbooks {
    .xt-input {
      @include border-radius(5px);
      padding: 8px 8px 10px 8px;
      border: 1px solid #ddd;
      margin: 0;
      outline: none;
      cursor: pointer;
      font-size: 14px;
      font-family: "arial", "arial black";
      width: 180px;
    }

    .xt-button {
      @include border-radius(5px);
      padding: 5px;
      border: 1px solid #ddd;
      margin: 0;
      cursor: pointer;
      font-family: "arial", "arial black";
      font-size: 14px;
      background-color: #fff;
      color: #aaa;
      &:active {
        background-color: #ddd;
      }
    }

    .xt-screen-carousel {
      height: 100%;
      width: 100%;
    }
  }
}

/********* PULLOUT ************/

.parameter-item {
	min-height: 50px;
}

.parameter-item-input {
  margin-top: -10px;
	float: right;
}

.history-header {
	text-align: center;
	padding: 10px 0;
}

.history-scroller {
	background-color: #fff;
}

/* adapt to smaller displays */
@media (max-width: 480px) {
	.pullout-menu {
		display: block;
		margin: 0;
	}
}

.pullout {
	position: absolute;
	top: 57px;
	left: 0;
	bottom: 0;
	width: 320px;
	background: #D8D8D8;
}

.pullout-shadow {
	position: absolute;
	height: 100%;
	width: 20px;
	right: -20px;
	/** this is weird and indicates the REAL need to change the
	    whatever the css system is...this relative path is different... **/
	background: url("../../assets/sliding-shadow.png") repeat-y;
	background-size: 20px 2px;
}

.pullout-grabbutton {
	position: absolute;
	height: 54px;
	width: 50px;
	bottom: 20px;
	right: -46px;
	border-radius: 0px 10px 10px 0px;
	background-color: #D8D8D8;
	box-shadow: 4px 4px 4px rgba(0,0,0,0.3);
}

.pullout-toolbar {
	padding-top: 4px;
	text-align: center;
}

/*********END PULLOUT *********/

/*********XV VIEWS***********/

.xv-infolist {
  .xv-infolist-item {
    @include box-sizing(border-box);
    background-color: #fff;
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: 1px solid #ddd;
    .xv-infolist-column {
      &.left {
        width: 320px;
      }    
      .xv-infolist-attr {
        padding: 5px;
        font-size: 13px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: black;
        &.right {
          position: absolute;
          right: 0px;
        }
        &.bold {
          font-weight: bold;
        }
        &.error {
          color: #ff0000;
        }
        &.italic {
          font-style: italic;
        }
        &.placeholder {
          font-style: italic;
          color: #93a1a1;
        }
      }
    }
  }
}

.xv-groupbox {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  min-height: 300px; 
  width: 350px; 
  margin-right: 5px;
}

.xv-repeater-box {
  width: 880px;
  .xv-label {
    width: 100px;
    font-weight: bold;
    border-width: 0px;
    font-size: 12px;
    text-align:center;
  }
  .xv-input {
    width: 100px;
    border-width: 0px;
    .xv-subinput {
      width: 90px;
      border-width: 0px;
    }
  }
}

.xv-repeater-box-row {
  background-color: white;
}

.xv-comment-box {
  width: 700px;
  .xv-repeater-box-row {
    height: 135px;
  }
  .xv-comment-box-createdBy {
    font-weight: bold;
  }
  .xv-comment-box-text {
    position:absolute;
    margin-top: 50px;
    width:500px;
    height:80px;
    border: 1px solid grey;
    .xv-subinput {
      height: 75px;
      width: 490px;
    }
  }
  .xv-repeater-box-header {
    visibility: hidden;
  }
}

/*********END XV VIEWS***********/

/*********XV WIDGETS***********/

.xv-dropdownwidget {
  background-color: white;
}

.xv-picker {
  width: 200px;
}


.xv-label {
  width: 100px;
  padding-right: 8px;
  text-align: right;
}

.xv-inputwidget {
  background-color: white;
}

.xv-input-decorator {
  border: 0px;
}

.xv-textarea-input {
  border: 0px;
  width: 324px; 
  min-height: 255px;
  margin: 6px 
}

.xv-relationwidget-completer {
  left: -200px; 
  top: 15px;
}

.xv-relationwidget-description {
  text-indent: 120px;
  font-size: small;
  padding-bottom: 4px;
}

/********END XV WIDGETS******/

.xv-login {
  .xv-login-form {
    position: absolute;
    height: 250px;
    width: 300px;
    top: 50%;
    left: 50%;
    margin-top: -125px;
    margin-left: -150px;
    .xv-message-box {
      font-size: 12px;
      &.error {
        color: #ff0000;
      }
      text-align: center;
      padding: 10px;
    }
  }
  .xv-organizations-selection {
    position: absolute;
    height: 300px;
    width: 400px;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -200px;
    .xv-organization-row {
      padding: 5px;
      cursor: pointer;
      &:hover {
        background-color: #ddd;
      }
    }
  }
}
