{{#bind "content"}}
<div class="row" {{bindAttr skid="storeKey"}}>
	
	<!-- the default template doesn't know anything about
			 the columns or available values for the record type
			 so it can't show anything of use -->
	<div class="column">
		Record storeKey={{storeKey}}
	</div>

</div>
{{/bind}}