/**

  Css classes for the login area in node-datasource.

*/
* {
  margin: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 160px; /* bottom = footer height */
}

html {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 11px;
  font-weight: 500;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 160px;
  width: 100%;
  background-color: #eee;
}

.footer-container {
  position: relative;
  margin: 0 auto;
  padding: 30px 5px 0 5px;
  max-width: 700px;
}
.footer-container p {
  color: #888;
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  font-size: 1em;
  text-align: center;
  line-height: 1.6em;
}
.footer-container a {
  color: #4183c4;
  text-decoration: none;
}
.footer-container a:hover {
  text-decoration: underline;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

label.login-message-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  margin: 10px auto;
  font-size: 14px;
  width: 100%;
  text-align: center;
}

label.login-message-box.error {
  color: #ff0000;
}

#login {
  position: relative;
  width: 280px;
  margin: 80px auto;
  padding-bottom: 20px;
}

#header_image {
  display: block;
  margin: 0 auto 5px auto;
  width: 162px;
  text-align: center;
}

#oauth {
  display: table;
  padding-bottom: 5px;
}

#oauth_icon {
  display: table-cell;
  float: left;
  margin-right: 5px;
}

#oauth_request {
  display: table-cell;
  vertical-align: middle;
}

#oauth_party {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #2f6c9d;
  padding: 40px 30px 70px 30px;
  position: relative;
  overflow: visible;
  z-index: 2;
  color: #ffffff;
}

#oauth_party .login-button {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 11px;
  padding: 4px;
  margin: 10px 0 10px 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #0e0b38;
  text-transform: uppercase;
  text-shadow: #ccc 0 0 0;
  font-weight: 500;
  float: right;
}

#main {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #2f6c9d;
  padding: 40px 50px 30px 50px;
  position: relative;
  overflow: visible;
  z-index: 2;
}

#main div {
  position: relative;
}

#main #form-fields {
  margin: 0 auto;
}

#main .login-input {
  display: block;
  width: 97%;
  margin: 0;
  outline: none;
  color: #666666;
  font-smoothing: antialiased;
  font-size: 14px;
  line-height: 1.5em;
}

#main .login-input:-moz-placeholder {
  color: #d5d5d5;
}

#main .login-input:-ms-input-placeholder {
  color: #d5d5d5;
}

#main .login-input::-webkit-input-placeholder {
  color: #d5d5d5;
}

#main .login-label {
  display: block;
  margin: 15px auto 7px auto;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: #2f6c9d 2px 2px 1px;
}

#main .login-button {
  display: block;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 11px;
  padding: 4px;
  margin: 30px 0 0 72%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #0e0b38;
  text-transform: uppercase;
  text-shadow: #ccc 0 0 0;
  font-weight: 500;
}

#main #organizations {
  position: relative;
  max-height: 200px;
}

.organization-item {
  padding: 8px;
  margin: 10px 0;
  display: block;
  position: relative;
  background-color: #ffffff;
  text-transform: uppercase;
  color: #ff6600;
  cursor:default;
}

.forgot-password {
  color: orange;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

@include box-sizing(border-box);
#main #organizations .organization-item:hover {
  background-color: #ffffff;
}
